{% extends 'layouts/main.html' %}

{% load static %}

{% block body %}  
{% comment %} !-- Breadcrumb Area Start Here --> {% endcomment %}
<div class="breadcrumbs-area position-relative">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center">
                <div class="breadcrumb-content position-relative section-content">
                    <h3 class="title-3">Add Addres</h3>
                    <ul>
                        <li><a href="index.html">Home</a></li>
                        <li>My Account</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Breadcrumb Area End Here -->
<div id="account-info" role="tabpanel"> 
    <div class="myaccount-content">
        <h3>Change password</h3>
        <div class="account-details-form">
            <form action="#" method="post">
            {% csrf_token %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert">
            <strong></strong>{{ message }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
             {% endif %}
                <div class="row">
                    <div class="single-input-item mb-3">
                        <label for="current_password" class="required mb-1">Current Password</label>
                        <input type="password" name="current_password" placeholder="Old Password" />
                    </div>
                    <div class="col-lg-6 col-custom"> 
                        <div class="single-input-item mb-3">
                            <label for="new_password" class="required mb-1">New Password</label>
                            <input type="password" name="new_password" placeholder="New Password" />
                        </div>
                    </div>
                    <div class="col-lg-6 col-custom"> 
                        <div class="single-input-item mb-3">
                            <label for="confirm_password" class="required mb-1">Confirm Password</label>
                            <input type="password" name="confirm_password" placeholder="Confirm password" />
                        </div>
                    </div>
                    <div class="single-input-item single-item-button">
                        <button class="btn flosun-button secondary-btn theme-color  rounded-0" type="submit">Save Changes</button>
                    </div>
                </div>
            </form>
        </div>
    </div>            
</div>


{% endblock body %}  