{% extends 'layouts/admin_base.html' %}

{% load static %}

{% block start %}
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">BRAND</h2>
                            {% comment %} <div>
                                <button class="btn btn-light rounded font-sm mr-5 text-body hover-up">Save to draft</button>
                                <button class="btn btn-md rounded font-sm hover-up">Publich</button>
                            </div> {% endcomment %}
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">
                                <form action="{% url 'add_brand' %}" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong></strong>{{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="mb-4">
                                        <label for="product_name" class="form-label">Name</label>
                                        <input type="text" placeholder="Type here" class="form-control" name="name"  />
                                    </div>
                                    <div class="mb-4">
                                        <label class="form-label">description</label>
                                        <textarea placeholder="Type here" name="description" class="form-control" rows="4"></textarea>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <h4>Media</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="input-upload">
                                                    <img src="/static/assets/imgs/theme/upload.svg" alt="" />
                                                    <input class="form-control" type="file" name="image" />
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div >
                                        <button  class="btn btn-primary" type ="submit">Create Category </button>
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                        <!-- card end// -->
                    </div>
                    
                </div>

{% endblock %}