{% extends 'layouts/admin_base.html' %}

{% load static %}

{% block start %}
            <section class="content-main">
                <div class="row">
                    <div class="col-9">
                        <div class="content-header">
                            <h2 class="content-title">VARIENTS</h2>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="card mb-4">
                            <div class="card-header">
                                <h4>Basic</h4>
                            </div>
                            <div class="card-body">
                                <form action="#" method="post" enctype="multipart/form-data">
                                    {% csrf_token %}
                                    {% if messages %}
                                        {% for message in messages %}
                                        <div class="alert alert-warning alert-dismissible fade show" role="alert">
                                            <strong></strong>{{ message }}
                                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                                        </div>
                                        {% endfor %}
                                    {% endif %}
                                    <div class="mb-4">
                                        <label for="color" class="form-label">Color</label>
                                        <input type="text" placeholder="Type here" class="form-control" name="color"  />
                                    </div>
                                    <div class="mb-4">
                                        <label for="product" style="font-size: 18px;">Select a Product:</label>
                                        <br>
                                        <select id="product" name="product" style="padding: 10px; font-size: 16px; border: 1px solid #ccc; border-radius: 5px; width: 200px;">
                                            {% for product in products %}
                                            <option value="{{product.product_name }}">{{ product.product_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>                                    
                                    <div class="row">
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">price</label>
                                                <div class="row gx-2">
                                                    <input placeholder="$" type="text" name="price" class="form-control" />
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-lg-4">
                                            <div class="mb-4">
                                                <label class="form-label">stock</label>
                                                <input placeholder="" type="text" name="stock" class="form-control" />
                                            </div>
                                        </div>
                                    <div class="col-sm-6">
                                        <div class="card mb-4">
                                            <div class="card-header">
                                                <h4>Media</h4>
                                            </div>
                                            <div class="card-body">
                                                <div class="input-upload">
                                                    <img src="/static/assets/imgs/theme/upload.svg" alt="" />
                                                    <label class="form-label">Varient images</label>
                                                    <input class="form-control" type="file" multiple name="images" />
                                                </div>
                                            </div>
                                        </div>
                                        <label class="form-check mb-4">
                                            <input class="form-check-input" type="checkbox" value="" name="is_available" checked />
                                            <span class="form-check-label">  is_available </span>
                                        </label>
                                    </div>
                                    <div >
                                        <button  class="btn btn-primary" type ="submit">Create Varient </button>
                                    </div>
                                </form>
                               
                            </div>
                        </div>
                        <!-- card end// -->
                    </div>
                    
                </div>

{% endblock %}