{% extends 'layouts/admin_base.html' %}

{% load static %}

{% block start %}

    
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">Order List</h2>
                        <p>Lorem ipsum dolor sit amet.</p>
                    </div>
                    <div>
                        <input type="text" placeholder="Search order ID" class="form-control bg-white" />
                    </div>
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row gx-3">
                            <div class="col-lg-4 col-md-6 me-auto">
                                <input type="text" placeholder="Search..." class="form-control" />
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Status</option>
                                    <option>Active</option>
                                    <option>Disabled</option>
                                    <option>Show all</option>
                                </select>
                            </div>
                            <div class="col-lg-2 col-6 col-md-3">
                                <select class="form-select">
                                    <option>Show 20</option>
                                    <option>Show 30</option>
                                    <option>Show 40</option>
                                </select>
                            </div>
                        </div>
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">Name</th>
                                        <th scope="col">Email</th>
                                        <th scope="col">Total</th>
                                        <th scope="col">Status</th>
                                        <th scope="col">Date</th>
                                        <th scope="col">cancel</th>
                                        <th scope="col" class="text-end">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for order in orders %}
                                    <tr>
                                        <td>{{order.tracking_no}}</td>
                                        <td>{{order.user}}</td>
                                        <td><b>{{order.payment_method}}</b></td>
                                        <td>{{order.total_price}}</td>
                                        <td>
                                            {% if order.status == 'Pending' %}
                                <span class="badge rounded-pill alert-warning" style="background-color: black; color: white;">{{ order.status }}</span>
                            {% elif order.status == 'Out For Shipping' %}
                                <span class="badge rounded-pill alert-warning" style="background-color: black; color: white;">{{ order.status }}</span>
                            {% elif order.status == 'Completed' %}
                                <span class="badge rounded-pill alert-success" style="background-color: black; color: white;">{{ order.status }}</span>
                            
                            {% elif order.status == 'Cancelled' %}
                                <span class="badge rounded-pill alert-danger" style="background-color: black; color: white;">{{ order.status }}</span>
                            {% else %}
                                <span class="badge rounded-pill alert-danger" style="background-color: black; color: white;">{{ order.status }}</span>
                            {% endif %}
                                        </td>
                                        <td>{{order.updated_at}}</td>
                                        <td>
                                            {% if order.status != 'cancelled' and order.status != 'delivered' %}
                                            <a href="{% url "remove_order" order.id %}" class="btn btn-md rounded font-sm">cancel order</a>
                                            {% endif %}
                                            {% if order.status != 'cancelled' and order.status != 'completed' and order.status != 'delivered' %}
                                            <a href="{% url 'shipped' order.id %}" class="btn btn-lg font-sm rounded btn-brand" style="background-color: red; color: white; font-size: 10px; padding: 5px 10px;" onclick="return confirm('Are you sure you want to ship this order?');">
                                                <i class="material-icons md-delete_forever"></i> Out For Shipping
                                            </a>
            
                                            {% if order.status == 'shipped' %}
                                            <a href="{% url 'delivered' order.id %}" class="btn btn-lg font-sm rounded btn-brand" style="background-color: green; color: white; font-size: 10px; padding: 5px 10px;" onclick="return confirm('Are you sure you want to mark this order as delivered?');">
                                                <i class="material-icons md-done"></i> Mark as Delivered
                                            </a>

                                            {% if order.status == 'delivered' %}
                                            <a href="{% url 'completed' order.id %}" class="btn btn-lg font-sm rounded btn-brand" style="background-color: green; color: white; font-size: 10px; padding: 5px 10px;" onclick="return confirm('Are you sure you want to mark this order as delivered?');">
                                                <i class="material-icons md-done"></i> completed
                                            </a>
                                            
                                        
                                        {% endif %}

                                        {% endif %}
        
                                        {% endif %}
                                            {% comment %} {% if order.status != 'Cancelled' and order.status != 'Completed' %}
                                            <a href="{% url "shipped" order.id %}" class="btn btn-md rounded font-sm">out for shipping</a>
                                            {% if order.status == 'Shipped' %} 
                                            <a href="{% url "de" order.id %}" class="btn btn-md rounded font-sm">out</a>
                                            {% endif %}
                                            {% endif %} {% endcomment %}
                                        </td>
                                        <td class="text-end">
                                            <a href="{% url 'order_views' order.id %}" class="btn btn-md rounded font-sm">Detail</a>
                                            {% comment %} <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div> {% endcomment %}
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    {% comment %} <tr>
                                        <td>2323</td>
                                        <td><b>Leslie Alexander</b></td>
                                        <td>leslie@example.com</td>
                                        <td>$46.61</td>
                                        <td><span class="badge rounded-pill alert-warning">Pending</span></td>
                                        <td>21.02.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1233</td>
                                        <td><b>Esther Howard</b></td>
                                        <td>esther@example.com</td>
                                        <td>$12.00</td>
                                        <td><span class="badge rounded-pill alert-danger">Canceled</span></td>
                                        <td>03.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>1233</td>
                                        <td><b>Esther Howard</b></td>
                                        <td>esther@example.com</td>
                                        <td>$12.00</td>
                                        <td><span class="badge rounded-pill alert-danger">Canceled</span></td>
                                        <td>03.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2323</td>
                                        <td><b>Jenny Wilson</b></td>
                                        <td>jenny@example.com</td>
                                        <td>$589.99</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>22.05.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2112</td>
                                        <td><b>Marvin McKinney</b></td>
                                        <td>marvin@example.com</td>
                                        <td>$16.58</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>23.04.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>7897</td>
                                        <td><b>Albert Flores</b></td>
                                        <td>albert@example.com</td>
                                        <td>$10.00</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>13.03.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2323</td>
                                        <td><b>Wade Warren</b></td>
                                        <td>wade@example.com</td>
                                        <td>$105.55</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>23.09.2019</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2324</td>
                                        <td><b>Jane Cooper</b></td>
                                        <td>jane@example.com</td>
                                        <td>$710.68</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>28.04.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2325</td>
                                        <td><b>Savannah Nguyen</b></td>
                                        <td>savannah@example.com</td>
                                        <td>$710.68</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>23.03.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2326</td>
                                        <td><b>Guy Hawkins</b></td>
                                        <td>guy@example.com</td>
                                        <td>$767.50</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>28.04.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2327</td>
                                        <td><b>Darrell Steward</b></td>
                                        <td>darrel@example.com</td>
                                        <td>$406.27</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>14.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2328</td>
                                        <td><b>Jane Cooper</b></td>
                                        <td>jane@example.com</td>
                                        <td>$601.13</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>18.03.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>2329</td>
                                        <td><b>Darlene Robertson</b></td>
                                        <td>deriene@example.com</td>
                                        <td>$948.55</td>
                                        <td><span class="badge rounded-pill alert-success">Received</span></td>
                                        <td>03.07.2020</td>
                                        <td class="text-end">
                                            <a href="#" class="btn btn-md rounded font-sm">Detail</a>
                                            <div class="dropdown">
                                                <a href="#" data-bs-toggle="dropdown" class="btn btn-light rounded btn-sm font-sm"> <i class="material-icons md-more_horiz"></i> </a>
                                                <div class="dropdown-menu">
                                                    <a class="dropdown-item" href="#">View detail</a>
                                                    <a class="dropdown-item" href="#">Edit info</a>
                                                    <a class="dropdown-item text-danger" href="#">Delete</a>
                                                </div>
                                            </div>
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr> {% endcomment %}
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
           
{% endblock %}