{% extends 'layouts/admin_base.html' %}

{% load static %}

{% block start %}

                    <!-- card-header end// -->
                    <div class="card-body">
                        <div class="content-header">
                            <h2 class="content-title">user list</h2>
                            <div>
                                <a href="#" class="btn btn-primary"><i class="material-icons md-plus"></i> Add user </a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table table-hover">
                                <thead>
                                    <tr>
                                        <th>#ID</th>
                                        <th scope="col">firstname</th>
                                        <th scope="col">lastname</th>
                                        <th scope="col">username</th>
                                        <th scope="col">email</th>
                                        <th scope="col">status</th>
                                        <th scope="col">View</th>
                                        <th scope="col">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ user.first_name }}</td>
                                        <td>{{ user.last_name }}</td>
                                        <td>{{ user.username }}</td>
                                        <td>{{ user.email }}</td>

                                        <td>{% if user.is_active == True %}
                                            <span class="badge rounded-pill alert-warning">active</span>
                                            {% else %}
                                            <span class="badge rounded-pill alert-warning">blocked</span>
                                            {% endif%}
                                        </td>
                                        <td>
                                            {% if user.is_active == True %}
                                            <a href="{% url 'user_block' user.id %} " class="btn btn-md btn-danger"> block </a>
                                            {% else %}
                                            <a href="{% url 'user_block' user.id  %} " class="btn btn-md btn-green"> unblock </a>
                                            {% endif%}
                                        </td>
                                        {% comment %} <td>
                                            <button type="button" class="btn btn-md rounded font-sm" data-bs-toggle="modal" data-bs-target="#exampleModal{{ user.id }}" >
                                                edit</button>
                                            <!-- Modal -->
  
  <div class="modal fade" id="exampleModal{{ user.id }}" tabindex="-1" aria-labelledby="exampleModalLabel{{ user.id }}" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Brand</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form action="{% url 'edit_user' user.id %}" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% if messages %}
                    {% for message in messages %}
                    <div class="alert alert-warning alert-dismissible fade show" role="alert">
                        <strong></strong>{{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                    {% endfor %}
                {%endif%}
                <div class="single-input-item mb-3">
                    <input type="text" placeholder="First Name" name="firstname" value="{{user.first_name}}">
                </div>
                <div class="single-input-item mb-3">
                    <input type="text" placeholder="Last Name" name="lastname" value="{{user.last_name}}">
                </div>
                <div class="single-input-item mb-3">
                    <input type="text" placeholder="username" name="username" value="{{user.username}}">
                </div>
                <div class="single-input-item mb-3">
                    <input type="email" placeholder="Email" name="email" value="{{user.email}}">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
        
      </div>
    </div>
  </div> {% endcomment %}
                                            <!-- dropdown //end -->
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                </tbody>
                            </table>
                        </div>
                        <!-- table-responsive //end -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                {% comment %} <div class="pagination-area mt-15 mb-50">
                    <nav aria-label="Page navigation example">
                        <ul class="pagination justify-content-start">
                            <li class="page-item active"><a class="page-link" href="#">01</a></li>
                            <li class="page-item"><a class="page-link" href="#">02</a></li>
                            <li class="page-item"><a class="page-link" href="#">03</a></li>
                            <li class="page-item"><a class="page-link dot" href="#">...</a></li>
                            <li class="page-item"><a class="page-link" href="#">16</a></li>
                            <li class="page-item">
                                <a class="page-link" href="#"><i class="material-icons md-chevron_right"></i></a>
                            </li>
                        </ul>
                    </nav>
                </div> {% endcomment %}
            </section>
            <!-- content-main end// -->
            <br>
            

{% endblock %}